{% extends 'adminpages/adminbase.html' %}

{% block content %}
{% if messages %}
    {% for message in messages %}
    <div class="alert {{ message.tags }}">{{ message }}</div>
    {% endfor %}
{% endif %}
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow-lg">
          <div class="card-body">
            <h3 class="text-center text-success mb-4">Update Student</h3>
            <form method="POST">
              {% csrf_token %}

              <!-- Apply Bootstrap styling to the form fields -->
              <div class="form-group">
                {{ form.as_p }}
              </div>

              <!-- Buttons to submit or cancel -->
              <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-success btn-block w-48">Update</button>
                <a href="{% url 'student_list' %}" class="btn btn-secondary btn-block w-48">Cancel</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
