{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="container my-5 pt-4 ">
    <!-- About Us Title -->
    <div class="text-center text-secondary mb-4">
      <p class="h3">ABOUT <span class="highlight-text">US</span></p>
    </div>

    <!-- About Us Content -->
    <div class="row my-5">
      <div class="col-md-6 mb-4">
        <img class="d-block w-70 mx-auto" src="https://images.pexels.com/photos/5076511/pexels-photo-5076511.jpeg?auto=compress&cs=tinysrgb&w=600"  alt="About Us Image">
      </div>
      <div class="col-md-6">
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium alias animi aperiam, at, blanditiis commodi cum deleniti dolorum eligendi error esse excepturi facilis illum laudantium magnam molestiae non praesentium quaerat qui quibusdam quidem quisquam repellat tempore temporibus tenetur velit? Enim, id laboriosam molestiae numquam quaerat quisquam rerum tempore vitae?.</p>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, ab architecto assumenda, at autem cumque dolores iure minima nisi nostrum reiciendis sed tempora ullam. Dolores ducimus excepturi odit quisquam reprehenderit..</p>
        <strong class="text-dark">Our Vision</strong>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, temporibus!.</p>
      </div>
    </div>

    <!-- Why Choose Us Section -->
    <div class="text-center mb-4">
      <p class="h3">WHY <span class="highlight-text">CHOOSE US</span></p>
    </div>

    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="feature-box border p-4 text-center">
          <strong>Efficiency:</strong>
          <p>Streamlined appointment scheduling that fits into your busy lifestyle.</p>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="feature-box border p-4 text-center">
          <strong>Convenience:</strong>
          <p>Access to a network of trusted healthcare professionals in your area.</p>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="feature-box border p-4 text-center">
          <strong>Personalization:</strong>
          <p>Tailored recommendations and reminders to help you stay on top of your health.</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}