{% extends 'base.html' %}

{% block content %}

<div>
      <div class='hero contain'>
        <div class='hero-text'>
            <h1>Welcome all to school web University the school of professional and quality courses.</h1>
            <p>0ur curriculum is designed to empower students with knowledge, skills and experiences needed to excel in the dynamic field of education.</p>
            <button class='btn btn-primary'>Explore more</button>
        </div>
      </div>
    </div>
{% endblock %}